<div class="header--middle-left header--mobile-center page-width">
{% for product in collections.frontpage.products limit: 12 %}
  <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" />
  <h2>{{ product.title }}</h2>
  {{ product.description }}
<form action="/cart/add" method="post" enctype="multipart/form-data">
<select name="id">
{% for variant in product.variants %}
{% if variant.available == true %}
<option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
{% else %}
<option disabled="disabled"> {{ variant.title }} - sold out!</option>
{% endif %}
{% endfor %}
</select>
<input type="submit" name="add" id="add" value="Add to Cart" class="button">
</form>
{% endfor %}

</div>

<table class="pyr-compare-table">
  <tbody>
    {% for product in collections.frontpage.products limit: 12 %}
    <tr class="pyr-compare-img">
      <td style="display: table-cell;">
      </td>
    </tr>
      <tr class="pyr-compare-view">
        <td style="display: table-cell;">
          <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" />
        </td>
      </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Title</td>
      <td style="display: table-cell;"><h2>{{ product.title }}</h2></td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Variant Title</td>
      <td style="display: table-cell;">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
        <select name="id">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
        {% else %}
        <option disabled="disabled"> {{ variant.title }} - sold out!</option>
        {% endif %}
        {% endfor %}
        </select>
        <input type="submit" name="add" id="add" value="Add to Cart" class="button">
        </form>
      </td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Price</td>
      <td style="display: table-cell;">{{ product.price }}</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Pod Compability</td>
      <td style="display: table-cell;">Compability</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">My K-Cup Capability</td>
      <td style="display: table-cell;">Capability</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Brew Size</td>
      <td style="display: table-cell;">Only Hearts</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Water Capability</td>
      <td style="display: table-cell;">arrivals, AW15, Camisole, F14, foundation, intimates, lace, Only Hearts, S14, signature, undergarment, visible, Woman</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Multiple Colors</td>
      <td style="display: table-cell;">Yes</td>
    </tr>
    <tr class="pyr-compare-available" style="display: table-row;">
      <td style="display: table-cell;">Available</td><td style="display: table-cell;">In Stock</td>
      <td style="display: table-cell;">In Stock</td><td style="display: table-cell;">In Stock</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}