<div class="header--middle-left header--mobile-center page-width">

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
  }
  h4{
    padding:0px;
    margin:0px;
  }
</style>

  <div class="wrapper">
    
        
    {% for product in collections.all.products %}
      <div>
        <table>
        <tr>
          <td><img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" /></td>
        </tr>
        <tr>
          <td><h3>{{ product.title }}</h3></td>
        </tr>
        <tr>
          <td>
            
            <form action="/cart/add" method="post" enctype="multipart/form-data">
            <select name="id">
            {% for variant in product.variants %}
            {% if variant.available == true %}
            <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
            {% else %}
            <option disabled="disabled"> {{ variant.title }} - sold out!</option>
            {% endif %}
            {% endfor %}
            </select>
            <input type="submit" name="add" id="add" value="Add to Cart" class="button" style="padding:10px">
            </form>
          </td>
        </tr>
        <tr style="background-color:rgba(0,0,0,0.1)">
          <td style="color:white;">
            <h4>Price: <span aria-hidden="true">—</span>
            {%- if product.price_varies -%}
              <span class="visuallyhidden">Starting at</span>
              {{ product.price_min | money_without_trailing_zeros }}
              <span aria-hidden="true">+</span>
            {%- else -%}
              <span>{{ product.price | money_without_trailing_zeros }}</span>
            {%- endif -%}</h4>
          </td>
        </tr>
        <tr>
          <td><h4>Material: </h4>{{ product.metafields.custom.material }}</td>
        </tr>
        <tr style="background-color:rgba(0,0,0,0.1)">
          <td style="color:white;"><h4>My K-Cup Capability: </h4></td>
        </tr>
        <tr>
          <td><h4>Brew Size: </h4>{{ product.metafields.custom.brew_size }}</td>
        </tr>
        <tr style="background-color:rgba(0,0,0,0.1)">
          <td style="color:white;"><h4>Water Capability: <span>{{ product.metafields.custom.water_capability }}</span></h4></td>
        </tr>
        <tr>
          <td><h4>Delivery Time:</h4> <b>{{ product.metafields.custom.delivery_time }}</b></td>
        <tr>
      </table>
      </div>
    
      
    
    {% endfor %}
  
          
    
  
</div>


{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}