<div class="header--middle-left header--mobile-center page-width">
<table class="pyr-compare-table">
  <tbody>
    <tr>
      <td></td>
    </tr>
    {% for product in collections.all.products %}
    <tr class="pyr-compare-img">
      <td style="display: table-cell;">
      </td>
    </tr>
      <tr class="pyr-compare-view">
        <td style="display: table-cell;">
          
        </td>
        <td style="display: table-cell;">
          <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" />
        </td>
      </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Title</td>
      <td style="display: table-cell;"><h2>{{ product.title }}</h2></td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Variant</td>
      <td style="display: table-cell;">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
        <select name="id">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
        {% else %}
        <option disabled="disabled"> {{ variant.title }} - sold out!</option>
        {% endif %}
        {% endfor %}
        </select>
        <input type="submit" name="add" id="add" value="Add to Cart" class="button">
        </form>
      </td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Price</td>
      <td style="display: table-cell;">
        <span aria-hidden="true">—</span>
            {%- if product.price_varies -%}
              <span class="visuallyhidden">Starting at</span>
              {{ product.price_min | money_without_trailing_zeros }}
              <span aria-hidden="true">+</span>
            {%- else -%}
              {{ product.price | money_without_trailing_zeros }}
            {%- endif -%}
          </p>
          
      </td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Pod Compability</td>
      <td style="display: table-cell;">Compability</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">My K-Cup Capability</td>
      <td style="display: table-cell;">Capability</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Brew Size</td>
      <td style="display: table-cell;">Only Hearts</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Water Capability</td>
      <td style="display: table-cell;">arrivals, AW15, Camisole, F14, foundation, intimates, lace, Only Hearts, S14, signature, undergarment, visible, Woman</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Multiple Colors</td>
      <td style="display: table-cell;">Yes</td>
    </tr>
    <tr class="pyr-compare-available" style="display: table-row;">
      <td style="display: table-cell;">Delivery Time</td>
      <td style="display: table-cell;">{{ product.metafields.custom.delivery_time }}</td> 
    </tr>
  <h2></h2>
  {% endfor %}
  </tbody>
</table>
<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
</style>

  <div class="wrapper">
    {% for product in collections.all.products %}
    <div>
      <table>
        <tr>
          <td><img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" /></td>
          <td><h2>{{ product.title }}</h2></td>
          <td>
            <form action="/cart/add" method="post" enctype="multipart/form-data">
            <select name="id">
            {% for variant in product.variants %}
            {% if variant.available == true %}
            <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
            {% else %}
            <option disabled="disabled"> {{ variant.title }} - sold out!</option>
            {% endif %}
            {% endfor %}
            </select>
            <input type="submit" name="add" id="add" value="Add to Cart" class="button">
            </form>
          </td>
          <td>
            <span aria-hidden="true">—</span>
            {%- if product.price_varies -%}
              <span class="visuallyhidden">Starting at</span>
              {{ product.price_min | money_without_trailing_zeros }}
              <span aria-hidden="true">+</span>
            {%- else -%}
              {{ product.price | money_without_trailing_zeros }}
            {%- endif -%}
          </td>
          <td>Pod Compability</td>
          <td>My K-Cup Capability</td>
          <td>Brew Size</td>
          <td>Water Capability</td>
          <td>Brew Size</td>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
  
</div>


{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}