<div class="header--middle-left header--mobile-center page-width">
{% for product in collections.frontpage.products limit: 12 %}
  <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" />
  <h2>{{ product.title }}</h2>
  {{ product.description }}
<form action="/cart/add" method="post" enctype="multipart/form-data">
<select name="id">
{% for variant in product.variants %}
{% if variant.available == true %}
<option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
{% else %}
<option disabled="disabled"> {{ variant.title }} - sold out!</option>
{% endif %}
{% endfor %}
</select>
<input type="submit" name="add" id="add" value="Add to Cart" class="button">
</form>
{% endfor %}

</div>

<table class="pyr-compare-table">
  <tbody>
    <tr class="pyr-compare-img">
      <td style="display: table-cell;">
        <label class="coder-comparable-radio">
          <input type="radio" name="comparable-difference" value="all" checked="">
          <span>Show All</span>
        </label>
        <label class="coder-comparable-radio">
          <input type="radio" name="comparable-difference" value="difference">
          <span>Show Difference</span>
        </label>
      </td>
      <td style="display: table-cell;">
        <div href="javascript:void(0)" class="pyr-compare-remove" variant="39987339952290">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 341.751 341.751">
            <rect x="-49.415" y="149.542" transform="matrix(0.7072 -0.707 0.707 0.7072 -70.7868 170.8326)" width="440.528" height="42.667">
              
            </rect><rect x="149.569" y="-49.388" transform="matrix(0.707 -0.7072 0.7072 0.707 -70.7712 170.919)" width="42.667" height="440.528">
              
            </rect></svg></div><a href="/products/s14-onl-li-4184l-navy" class="pyr-compare-imgbx">
              <img src="//cdn.shopify.com/s/files/1/0569/2073/5906/products/2014_10_18_Lana_Look1101_389X.jpg?v=1621954937" alt="">
            </a>
        <input class="pyr-compare-addcart" onclick="window.location='//cdn.shopify.com/s/files/1/0569/2073/5906/products/2014_10_18_Lana_Look1101_389X.jpg?v=1621954937';" value="View Product" type="button">
      </td>
      <td style="display: table-cell;"><div href="javascript:void(0)" class="pyr-compare-remove" variant="39987337461922">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 341.751 341.751"><rect x="-49.415" y="149.542" transform="matrix(0.7072 -0.707 0.707 0.7072 -70.7868 170.8326)" width="440.528" height="42.667"></rect>
          <rect x="149.569" y="-49.388" transform="matrix(0.707 -0.7072 0.7072 0.707 -70.7712 170.919)" width="42.667" height="440.528"></rect></svg></div><a href="/products/iranta-leather-dress-black" class="pyr-compare-imgbx">
            <img src="//cdn.shopify.com/s/files/1/0569/2073/5906/products/6_21_LOOKS077_389X.jpg?v=1621954904" alt="">
          </a>
        <input class="pyr-compare-addcart" onclick="window.location='//cdn.shopify.com/s/files/1/0569/2073/5906/products/6_21_LOOKS077_389X.jpg?v=1621954904';" value="View Product" type="button">
      </td>
      <td style="display: table-cell;"><div href="javascript:void(0)" class="pyr-compare-remove" variant="39987339559074">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 341.751 341.751"><rect x="-49.415" y="149.542" transform="matrix(0.7072 -0.707 0.707 0.7072 -70.7868 170.8326)" width="440.528" height="42.667"></rect><rect x="149.569" y="-49.388" transform="matrix(0.707 -0.7072 0.7072 0.707 -70.7712 170.919)" width="42.667" height="440.528"></rect></svg>
      </div><a href="/products/s14-onl-li-5656-black" class="pyr-compare-imgbx"><img src="//cdn.shopify.com/s/files/1/0569/2073/5906/products/2014_10_18_Lana_Look1402_389X.jpg?v=1621954931" alt=""></a><input class="pyr-compare-addcart" onclick="window.location='//cdn.shopify.com/s/files/1/0569/2073/5906/products/2014_10_18_Lana_Look1402_389X.jpg?v=1621954931';" value="View Product" type="button"></td></tr><tr class="pyr-compare-view">
        
      </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Title</td><td style="display: table-cell;">Delicious Camisole</td><td style="display: table-cell;">Iranta Leather Dress in Black</td><td style="display: table-cell;">Delicious Camisole</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Variant Title</td><td style="display: table-cell;">Navy / Small</td><td style="display: table-cell;">Black / 36</td><td style="display: table-cell;">Black / Small</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Price</td><td style="display: table-cell;">Rs. 78.00</td><td style="display: table-cell;">Rs. 978.00</td><td style="display: table-cell;">Rs. 78.00</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">SKU</td><td style="display: table-cell;">30235</td><td style="display: table-cell;">12148</td><td style="display: table-cell;">11897</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Barcode</td><td style="display: table-cell;">30235</td><td style="display: table-cell;">12148</td><td style="display: table-cell;">11897</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Product Type</td><td style="display: table-cell;">women's lingerie</td><td style="display: table-cell;">women's dresses</td><td style="display: table-cell;">women's lingerie</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Vendor</td><td style="display: table-cell;">Only Hearts</td><td style="display: table-cell;">By Malene Birger</td><td style="display: table-cell;">Only Hearts</td></tr><tr class="coder-comparable-highlight" style="display: table-row;"><td style="display: table-cell;">Product Tags</td><td style="display: table-cell;">arrivals, AW15, Camisole, F14, foundation, intimates, lace, Only Hearts, S14, signature, undergarment, visible, Woman</td><td style="display: table-cell;">By Malene Birger, Dress, Dresses, S14, sheath, shift, sleeveless, visible, Woman</td><td style="display: table-cell;">arrivals, AW15, black, camisole, F14, foundation, intimates, Only Hearts, signature, top, undergarment, visible, Woman</td></tr><tr class="pyr-compare-available" style="display: table-row;"><td style="display: table-cell;">Available</td><td style="display: table-cell;">In Stock</td><td style="display: table-cell;">In Stock</td><td style="display: table-cell;">In Stock</td></tr></tbody>
</table>
{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}