<div class="header--middle-left header--mobile-center page-width">
<table class="pyr-compare-table">
  <tbody>
    <tr>
      <td></td>
    </tr>
    {% for product in collections.all.products %}
    <tr class="pyr-compare-img">
      <td style="display: table-cell;">
      </td>
    </tr>
      <tr class="pyr-compare-view">
        <td style="display: table-cell;">
          
        </td>
        <td style="display: table-cell;">
          <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{product.featured_image.alt}}" />
        </td>
      </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Title</td>
      <td style="display: table-cell;"><h2>{{ product.title }}</h2></td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Variant</td>
      <td style="display: table-cell;">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
        <select name="id">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>
        {% else %}
        <option disabled="disabled"> {{ variant.title }} - sold out!</option>
        {% endif %}
        {% endfor %}
        </select>
        <input type="submit" name="add" id="add" value="Add to Cart" class="button">
        </form>
      </td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Price</td>
      <td style="display: table-cell;">
        <span aria-hidden="true">—</span>
            {%- if product.price_varies -%}
              <span class="visuallyhidden">Starting at</span>
              {{ product.price_min | money_without_trailing_zeros }}
              <span aria-hidden="true">+</span>
            {%- else -%}
              {{ product.price | money_without_trailing_zeros }}
            {%- endif -%}
          </p>
          
      </td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Pod Compability</td>
      <td style="display: table-cell;">Compability</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">My K-Cup Capability</td>
      <td style="display: table-cell;">Capability</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Brew Size</td>
      <td style="display: table-cell;">Only Hearts</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Water Capability</td>
      <td style="display: table-cell;">arrivals, AW15, Camisole, F14, foundation, intimates, lace, Only Hearts, S14, signature, undergarment, visible, Woman</td>
    </tr>
    <tr class="coder-comparable-highlight" style="display: table-row;">
      <td style="display: table-cell;">Multiple Colors</td>
      <td style="display: table-cell;">Yes</td>
    </tr>
    <tr class="pyr-compare-available" style="display: table-row;">
      <td style="display: table-cell;">Delivery Time</td>
      <td style="display: table-cell;">{{ product.metafields.custom.delivery_time }}</td> 
    </tr>
  <h2></h2>
  {% endfor %}
  </tbody>
</table>


  <div id="collection-rows--collection-row-1" data-section-id="collection-row-1" data-section-type="collection-row-section">






  
    <div class="section-header">
      <p class="h1 section-header--left">Featured collection</p>
      
        <div class="section-header--right">
          
          <a href="/collections/clothing">More clothing ›</a>
        </div>
      
    </div>
  

  <div class="grid-uniform row-negative-bottom">
    
      
        











<div class="grid-item small--one-half medium--one-third large--one-third">

  <a href="/collections/clothing/products/advanced-multiple-overrides" class="product-grid-item" style="margin-bottom:0;">
    <div class="product-grid-image" style="height: 470px;">
      <div class="product-grid-image--centered">
        

        
<div class="lazyload__image-wrapper no-js" style="max-width: 366.66666666666663px">
            <div style="padding-top:150.00000000000003%;">
              <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.6666666666666666" data-sizes="auto" alt="ADVANCED MULTIPLE OVERRIDES" data-srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_125x.jpg?v=1522901698 125w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_180x.jpg?v=1522901698 180w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_360x.jpg?v=1522901698 360w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_540x.jpg?v=1522901698 540w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_720x.jpg?v=1522901698 720w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_900x.jpg?v=1522901698 900w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1080x.jpg?v=1522901698 1080w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1296x.jpg?v=1522901698 1296w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1512x.jpg?v=1522901698 1512w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1728x.jpg?v=1522901698 1728w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_2048x.jpg?v=1522901698 2048w" sizes="313px" srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_125x.jpg?v=1522901698 125w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_180x.jpg?v=1522901698 180w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_360x.jpg?v=1522901698 360w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_540x.jpg?v=1522901698 540w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_720x.jpg?v=1522901698 720w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_900x.jpg?v=1522901698 900w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1080x.jpg?v=1522901698 1080w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1296x.jpg?v=1522901698 1296w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1512x.jpg?v=1522901698 1512w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_1728x.jpg?v=1522901698 1728w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_2048x.jpg?v=1522901698 2048w">
            </div>
          </div>
          <noscript>
           <img src="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_580x.jpg?v=1522901698"
             srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_580x.jpg?v=1522901698 1x, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img11_580x@2x.jpg?v=1522901698 2x"
             alt="ADVANCED MULTIPLE OVERRIDES" style="opacity:1;">
         </noscript>

        
      </div>
    </div>

    <p>ADVANCED MULTIPLE OVERRIDES</p>
	
    <div class="product-item--price">
      <span class="h1 medium--left">
        
          <span class="visually-hidden">Regular price</span>
        
        





<small aria-hidden="true">$96<sup>00</sup></small>
<span class="visually-hidden">$96.00</span>

        
      </span>
		
      
    </div>
	
    
  </a>
</div>

    
      
        











<div class="grid-item small--one-half medium--one-third large--one-third">

  <a href="/collections/clothing/products/advanced-price-overwrite" class="product-grid-item" style="margin-bottom:0;">
    <div class="product-grid-image" style="height: 470px;">
      <div class="product-grid-image--centered">
        

        
<div class="lazyload__image-wrapper no-js" style="max-width: 366.66666666666663px">
            <div style="padding-top:150.00000000000003%;">
              <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.6666666666666666" data-sizes="auto" alt="ADVANCED PRICE OVERWRITE" data-srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_125x.jpg?v=1522901628 125w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_180x.jpg?v=1522901628 180w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_360x.jpg?v=1522901628 360w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_540x.jpg?v=1522901628 540w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_720x.jpg?v=1522901628 720w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_900x.jpg?v=1522901628 900w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1080x.jpg?v=1522901628 1080w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1296x.jpg?v=1522901628 1296w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1512x.jpg?v=1522901628 1512w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1728x.jpg?v=1522901628 1728w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_2048x.jpg?v=1522901628 2048w" sizes="313px" srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_125x.jpg?v=1522901628 125w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_180x.jpg?v=1522901628 180w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_360x.jpg?v=1522901628 360w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_540x.jpg?v=1522901628 540w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_720x.jpg?v=1522901628 720w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_900x.jpg?v=1522901628 900w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1080x.jpg?v=1522901628 1080w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1296x.jpg?v=1522901628 1296w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1512x.jpg?v=1522901628 1512w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_1728x.jpg?v=1522901628 1728w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_2048x.jpg?v=1522901628 2048w">
            </div>
          </div>
          <noscript>
           <img src="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_580x.jpg?v=1522901628"
             srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_580x.jpg?v=1522901628 1x, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img10_580x@2x.jpg?v=1522901628 2x"
             alt="ADVANCED PRICE OVERWRITE" style="opacity:1;">
         </noscript>

        
      </div>
    </div>

    <p>ADVANCED PRICE OVERWRITE</p>
	
    <div class="product-item--price">
      <span class="h1 medium--left">
        
          <span class="visually-hidden">Regular price</span>
        
        





<small aria-hidden="true">$30<sup>00</sup></small>
<span class="visually-hidden">$30.00</span>

        
      </span>
		
      
    </div>
	
    
  </a>
</div>

    
      
        











<div class="grid-item small--one-half medium--one-third large--one-third">

  <a href="/collections/clothing/products/advanced-child" class="product-grid-item" style="margin-bottom:0;">
    <div class="product-grid-image" style="height: 470px;">
      <div class="product-grid-image--centered">
        

        
<div class="lazyload__image-wrapper no-js" style="max-width: 366.66666666666663px">
            <div style="padding-top:150.00000000000003%;">
              <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.6666666666666666" data-sizes="auto" alt="ADVANCED CHILD" data-srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_125x.jpg?v=1522901538 125w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_180x.jpg?v=1522901538 180w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_360x.jpg?v=1522901538 360w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_540x.jpg?v=1522901538 540w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_720x.jpg?v=1522901538 720w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_900x.jpg?v=1522901538 900w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1080x.jpg?v=1522901538 1080w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1296x.jpg?v=1522901538 1296w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1512x.jpg?v=1522901538 1512w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1728x.jpg?v=1522901538 1728w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_2048x.jpg?v=1522901538 2048w" sizes="313px" srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_125x.jpg?v=1522901538 125w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_180x.jpg?v=1522901538 180w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_360x.jpg?v=1522901538 360w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_540x.jpg?v=1522901538 540w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_720x.jpg?v=1522901538 720w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_900x.jpg?v=1522901538 900w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1080x.jpg?v=1522901538 1080w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1296x.jpg?v=1522901538 1296w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1512x.jpg?v=1522901538 1512w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_1728x.jpg?v=1522901538 1728w, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_2048x.jpg?v=1522901538 2048w">
            </div>
          </div>
          <noscript>
           <img src="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_580x.jpg?v=1522901538"
             srcset="//cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_580x.jpg?v=1522901538 1x, //cdn.shopify.com/s/files/1/0018/8062/1100/products/img9_580x@2x.jpg?v=1522901538 2x"
             alt="ADVANCED CHILD" style="opacity:1;">
         </noscript>

        
      </div>
    </div>

    <p>ADVANCED CHILD</p>
	
    <div class="product-item--price">
      <span class="h1 medium--left">
        
          <span class="visually-hidden">Regular price</span>
        
        





<small aria-hidden="true">$30<sup>00</sup></small>
<span class="visually-hidden">$30.00</span>

        
      </span>
		
      
    </div>
	
    
  </a>
</div>

    
  </div>


</div>
  
</div>


{% schema %}
{
  "name": "compare products",
  "settings": []
}
{% endschema %}